*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/public/uploads/*
/public/generated_images/*.png
/coverage/
/config/database.yml
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html