<h1>템플릿 목록</h1>

<ul class="unstyled">
	<% @templates.each do |template| %>
	<li>
	  <dl class="dl-horizontal">
	    <dt><%= link_to template.name, template_path(template) %></dt>
	    <dd>
				<span><%= link_to '수정', edit_template_path(template) %></span>
		    <span><%= link_to '삭제', template, method: :delete, data: { confirm: 'Are you sure?' } %></span>
			</dd>
		</dl>
	</li>
	<% end %>
</ul>

<%= link_to '템플릿 새로 만들기', new_template_path %>
