<html>
<head>
</head>
	<body>
		<%= @item.item_code %>
		<% @template.elements.each do |element|%>
			<p>
				<%= link_to(image_tag(Composer.serve_file(@item, element.mold).photo_file.url), element.url) unless Composer.serve_file(@item, element.mold) == false %>
			</p>
		<% end %>
	</body>
</html>