<div id="item">
  <ul id="grid">
    <% @photos.each do |pic| %>
     <li><%= link_to image_tag(pic.photo_file.url(:thumb).to_s), item_photo_path(@item,pic) %>	
				<%= link_to 'Remove', item_photo_path(@item, pic.id), :confirm => "Delete this photo?", :method => 'delete' %>
			</li>
    <% end %>
  </ul>
</div>

    
