ul.menu li{
	margin-bottom: 15px;
	a{
		font-size: 18px;
		margin: 6px 6px 6px 6px;
	}
}

div.first{
	background-color: #e6e6e6;
}
div.second{
	background-color:#5bc0de;
}
div.third{
	background-color:#0044cc;
}
div.fourth {
	background-color:#5bb75b;
}
div.second, div.third, div.fourth{
	a{color: #fff;}
}

img.product_image{
	margin-bottom: 14px;
}